.wrapper {
    width: 100%;
    display: list-item;
    height: 100%;
    position: relative;
    list-style-type: none;
}

.checkbox {
    display: none;
}

input:checked ~ .alteredCheckbox {
    background: #d12f30;
    border: 1px solid transparent;
}

input:checked ~ .alteredCheckbox:before {
    height: 2px;
    width: 5px;
    display: inline-block;
    transform: rotate(-50deg);
    content: ' ';
    position: absolute;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    top: 2px;
    left: 2px;
}

.alteredCheckbox {
    float: left;
    height: 11px;
    width: 11px;
    border: 1px solid #000000;
    cursor: pointer;
    display: inline-block;
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
}

.alteredCheckBoxWithLabel {
    margin: 0 6px;
}

.label {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    width: calc(100% - 30px);
    height: 100%;
    color: #000000;
}

.dimLabel {
    color: #9d9d9d;
    cursor: default;
}

.disable {
    border: 1px solid #efefef;
    cursor: default;
}
