.section{
    float:left;
    width:calc(85% - 2px);
    height:calc(100% - 10% - 2px);
    background-color: #E8ECEB;
    box-sizing: border-box;
}
.title{
    width:calc(100% - 30px);
    height:10%;
    background-color: white;
    margin-bottom:30px;
    padding:15px;
    font-size: 30px;
    color:#516059;
}
.flaticon-rubbish-bin{
    color:#898989;
}
.editor{
    width:90%;
    height:70%;
    padding:15px;
    margin:0 auto;
    background-color: white;
}