*{
    margin: 0;
    padding:0;
}
.Header{
    width:100%;
    height: 10%;
    background:#F1F4F3;
    border-bottom: 2px solid #eeeeee;
}
.flaticonWrite{
    display: inline-block;
    color:#898989;
    margin-top:15px;
    font-size: 30px;
}